body /* eliminate white border and change background */
{
    margin: 0;
    padding: 0;
    background-color: #dbdbdb;
}
.header /* MeSH Header*/
{
    font-family: 'Antonio', sans-serif;
    background-color: #0F3362;
    color: #dbdbdb;
    padding: 20px 0;
    text-align: center;
    font-size: 200%;
    
    
    text-decoration-line: underline;
    text-decoration-color: #0a213f;
    text-decoration-skip-ink: none; 
    text-underline-offset: 20px; 
    max-height: 100px; 
}

.header h1{
    margin-top: -5px;
}
.container {
    display: flex;
    justify-content: center;
    
}
.box{
    width: 500px; 
    height: auto;
    margin: 0 auto; 
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 143, 154); 
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.8); 
}
.container button{
    margin: 20px;
    text-align: center; /* Align buttons and text to the left */
}
.rounded-button {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100px; /* Set the width to create square buttons */
    height: 50px; /* Set the height to create square buttons */
    background-color: #0F3362;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.6); 
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 10px; /* Add margin for vertical spacing */
    margin-left: 300px;
    display: block; /* Ensures each button appears on a new line */
}
.hidden-text {
    display: none;
    margin-top: 10px;
    text-align: center;
}

.dropdown-content {
    display: none;
    margin-top: 100px;
    position: absolute;
    background-color: #0F3362;
    min-width: 200px;
    max-height: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
}

.dropdown-content a:hover {
    background-color: #000000;
}

.scrollable-content {
    max-height: 250px; 
    overflow-y: scroll;
}

.dropdown input {
    min-width: auto;
    padding: 10px;
    border: 1px solid #ccc;
}